.mui-btn {
    display: block;
    margin: 5px auto;
}

.mui-divider {
    margin-bottom: 20px;
}

/* #current-button {
    height: 100px;
} */

#title {
    margin-left: 30px;
}

.sidedrawer-toggle {
    color: #fff;
}

.arrItem {
    display: inline-block;
    position: relative;
    background: #eee;
    margin: 10px;
    padding: 20px;
}

.arrItem::after {
    position: absolute;
    right: -10px;
    top: 45%;
    content: "";
    border-left: solid 5px #555;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
}

.arrItem:last-child::after {
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.red { background-color: #FFCDCD; padding: 10px; }
.green { background-color: #CDFFD8; padding: 10px; }

input {
    height: 50px;
    background: none;
    border: solid 1px #ededed;
    box-shadow: 2px 2px #ddd;
    margin-bottom: 30px;
    width: 100%;
}

input[placeholder] {
    font-size: 0.8em;
    text-align: center;
}

.plain-text {
    padding: 20px;
    line-height: 2em;
}

.footer {
    padding: 10px;
    background: #ddd;
}

.underlined {
    text-transform: uppercase;
    border-bottom: solid 1px #2196F3;
}

#brief, #syntax {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.small-arrow {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #2196F3;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.small-arrow::after {
    content: "";
    position: absolute;
    left: 15px;
    display: block;
    border-top: solid 10px #2095F3;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
}
.mui-appbar a {
    color: #fff;
    text-decoration: none;
}
